body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/516/649/201/paper-stone-the-game-monkey-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 60vh;
}
header {
    display: block;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Bangers', sans-serif;
}

.choose {
    display: flex;
}
.choose button {
    background: linear-gradient(135deg, rgba(170, 112, 30, 0.6), rgba(255, 210, 130, 0.2));
    margin-left: 15%;
    margin-right: 8%;
    margin-top: 100px;
    padding: 40px 40px;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    
}
.restartButton {
    display: flex;
}
#restart {
    margin-left: 15%;
    margin-right: 75%;
    margin-top: 80px;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    flex: 1;
    padding: 20px 70px;
}